.wrapper {
  overflow: hidden;
  position: relative;
}

header {
  margin-bottom: ms(4);
}

.logo {
  display: inline-block;
  max-width: 240px;
}

nav.menu {
  position: absolute;
  top: 0;
  right: -240px;
  background: $color-primary;
  height: 100%;
  width: 240px;
  transition: all ease 0.3s;

  &.opened {
    right: 0;
  }

  a {
    display: block;
    padding: ms(-1);
    font-size: ms(1);
    color: white;
    font-family: $secondary-site-font;
  }

  @include respond-to(screen) {
    position: static;
    background: none;
    height: auto;
    width: auto;
    display: inline-block;
    float: right;

    li {
      display: inline-block;

      a {
        color: white;
        font-size: ms(-1);
      }
    }
  }
}


.menu-toggle {
  cursor: pointer;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
  top: 0;
  right: 0;
  display: block;
  padding: 0;
  color: white;
  transition: all ease 0.3s;

  &.opened {
    background: white;
    color: $color-primary;
    right: 240px;
  }

  @include respond-to(screen) {
    display: none;
  }
}
